* {
    font-family: 'Shadows Into Light Two', cursive;
}
h1 {
    
    font-family: 'Rock Salt', cursive;
}
.container {
    text-align: center;
}
video {
    background: lightgray;
    border: 2px black solid;
    max-width: 100%;
    max-height: 50%;
}
canvas {
    border: 2px black solid;
    max-width: 100%;
}
h1, .videoContainer, .canvasContainer {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
button {
    margin: 0.5rem;
}